{% extends 'pages/layout.twig' %}

{# Title #}
{% block title %}
<title> Accueil </title>
{% endblock %}

{# Body #}
{% block header %}
    <div class="container-fluid">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">
                        <img alt="Brand" src="View/images/small-logo.png">
                    </a>
                </div>
            </div>
        </nav>
    </div>
{% endblock %}

{# footer #}
